#Alert{
    position: fixed;
    border: 1px solid rgb(234, 8, 8);
    background-color: rgb(255, 184, 184);
    border-radius: 10px;
    left: 38%;
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 40px;    
    padding: 20px;
    gap: 10px;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
}
#emoji{
    display: flex;
    align-items: center;
}